/* 우측 사이드바 로그인  시작*/
.logInSw {
    margin-right: 10px;
    background-color: #32be5e;
    padding: 10px 10px;
    color: white;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 6px#99c2a8;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.logInSw:hover {
    box-shadow: 0px 5px#24944d;
    top: 1px;
}

.logInSw:active {
    box-shadow: none;
    top: 6px;
}

/* 우측 사이드바 로그인  종료*/



/* 우측 사이드바 닫기 시작*/
.rightCl {
    margin-right: 10px;
    background-color: #eeaaee;
    padding: 10px 10px;
    color: white !important;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 6px#ad55ad;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rightCl:hover {
    box-shadow: 0px 5px#ffe6ff;
    top: 1px;
}

.rightCl:active {
    box-shadow: none;
    top: 6px;
}

/* 우측 사이드바 닫기 종료*/

/* 좌측 사이드바 닫기 시작*/
.leftClose {
    margin-right: 10px;
    background-color: #099FE9;
    padding: 10px 10px;
    color: white !important;
    font-size: 22px;
    margin: 0;
    margin-right: 30px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 6px#006496;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.leftClose:hover {
    box-shadow: 0px 5px#34bbff;
    top: 1px;
}

.leftClose:active {
    box-shadow: none;
    top: 6px;
}

/* 좌측 사이드바 닫기 종료*/


/* 개발 책 팝업 시작*/
.exitRep {
    background-color: #f99c3f;
    padding: 10px 10px;
    color: white !important;
    font-size: 22px;
    margin-right: 30px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0px 6px#ae5c0a;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.exitRep:hover {
    box-shadow: 0px 5px#ebcd91;
    top: 1px;
}

.exitRep:active {
    box-shadow: none;
    top: 6px;
}

/* 개발 책 팝업 종료*/

/* 팝업 swi.swanini.com 시작 */
.blogBu1 {
    margin-right: 10px;
    background-color: #099FE9;
    padding: 10px 10px;
    color: white !important;
    font-size: 22px;
    margin: 0;
    margin-right: 30px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 6px#006496;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blogBu1:hover {
    box-shadow: 0px 5px#34bbff;
    top: 1px;
}

.blogBu1:active {
    box-shadow: none;
    top: 6px;
}

/* 팝업 swi.swanini.com 종료 */

/* 팝업 blog.swanini.com 시작 */
.blogBu2 {
    margin-right: 10px;
    background-color: #eeaaee;
    padding: 10px 10px;
    color: white !important;
    font-size: 22px;
    margin: 0;
    margin-left: 30px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 6px#ad55ad;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.blogBu2:hover {
    box-shadow: 0px 5px#ffe6ff;
    top: 1px;
}

.blogBu2:active {
    box-shadow: none;
    top: 6px;
}

/* 팝업 blog.swanini.com 종료 */



/* 니니코인 팝업 시작 */
.SwNINCoinBtn_close {
    background-color: #099FE9;
    padding: 10px 10px;
    color: white !important;
    font-size: 22px;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 6px#006496;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.SwNINCoinBtn_close:hover {
    box-shadow: 0px 5px#34bbff;
    top: 1px;
}

.SwNINCoinBtn_close:active {
    box-shadow: none;
    top: 6px;
}

/* 니니코인 팝업 종료 */