.top_header {
    position: relative;
    height: 35px;
    padding: 10px;
    background: #fff;
    color: #FFFFFF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hleft {
    position: absolute;
    text-align: left;
    top: 15px;
    left: 15%;
    width: 45px;
    height: 25px;
}

.hleft img {
    width: 100%;
    height: 100%;
}

.hright {
    position: absolute;
    text-align: right;
    top: 15px;
    left: 78%;
}

@media (max-width: 347px) {
    .hright {
        left: 60%;
    }
}

@media (max-width: 481px) {
    .hright {
        left: 65%;
    }
}

.hright ul li {
    margin-right: 30px;
    background: #fff;
    border-radius: 15px;
    width: 28px;
    height: 28px;
    position: relative;
}

.hright ul li a {
    color: #51D6FB;
    position: absolute;
    left: 7px;
    top: 2px;
}

.hright ul li:hover {
    background: #51D6FB;
}

.hright ul li a:hover {
    color: #fff;
}

.top_header h3 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.sub_header {
    position: relative;
    height: 35px;
    background: #fff;
    color: #51D6FB;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sub_header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.sub_header ul li a {
    color: #51D6FB;
}

.sub_menu {
    position: relative;
    height: 35px;
    background: #fff;
    color: #51D6FB;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sub_menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.sub_menu ul li a {
    color: #fff;
    text-decoration: none;
}