@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Noto Sans KR', '맑은고딕', Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.45;
    font-size: 14px;
    background-image: url('../img/log-ship.gif');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}



/**************
    header 구간 시작
**************/
.header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
}

header {
    width: 1092px;
    margin: auto;
}

.header_main {}

header h1 {
    float: left;
    margin-top: 8px;
    margin-left: -20px;
}

/* header h1 a {
    display: block;
    width: 180px;
    height: 180px;
    background: url('../img/swanne+national.jpg') no-repeat 100%;
    text-indent: -9999px;
} */

.trigger {
    display: none;
}

.trigger .icon_bar {}

.gnb {
    /* border: 1px solid red; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.navbar_gnb {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar_gnb>li {
    display: inline-block;
    width: 30%;
    /* border: 1px solid green; */
}

.navbar_gnb>li>a {
    display: block;
    line-height: 60px;
    padding: 0 30px 0 15px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.sub {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 2;
}

.sub li {
    text-align: left;
    font-size: 20px;
    margin-left: 100px;
}

.sub a {
    display: block;
    text-align: left;
    color: #333;
    font-weight: bold;
    margin-top: 30px;
}

.sub a:hover {
    color: #222;
    text-decoration: none;
}

.sub_shadow {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.suba {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 2;
}

.suba li {}

.suba a {
    display: block;
    text-align: left;
    padding: 10px 30px 0 15px;
    color: #333;
    font-weight: 300;
}

.suba a:hover {
    color: pink;
}

.suba_shadow {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: inherit;
    height: 200px;
    background: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

@media (max-width: 1169px) {
    header {
        width: auto;
        margin: 0 10px;
        position: relative;
    }

    header h1 {
        margin-left: 10px;
    }

    body {
        font-family: 'Noto Sans KR', '맑은고딕', Arial, Helvetica, sans-serif;
        color: #333;
        line-height: 1.45;
        font-size: 14px;
        background-image: url('../img/log-ship.gif');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .trigger {
        position: relative;
        display: block;
        float: right;
        width: 22px;
        height: 22px;
        margin: 17px 10px 0 0;
        /* margin: 15px 10px 0 0; */
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .trigger .icon_bar {
        position: absolute;
        left: 0;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #801494;
        transition: 0.6s;
    }

    .trigger .icon_bar:nth-child(1) {
        top: 4px;
    }

    .trigger .icon_bar:nth-child(2) {
        top: calc(50% - 1px);
    }

    .trigger .icon_bar:nth-child(3) {
        bottom: 4px;
    }

    .trigger.open {}

    .trigger.open .icon_bar:nth-child(1) {
        transform: rotate(45deg);
        margin-top: 6px;
    }

    .trigger.open .icon_bar:nth-child(2) {
        width: 0;
    }

    .trigger.open .icon_bar:nth-child(3) {
        transform: rotate(-45deg);
        margin-bottom: 6px;
    }


    .gnb {
        position: fixed;
        top: 0;
        right: -350px;
        bottom: 0;
        width: 350px;
        background: #8e8e8e;
    }

    .navbar {
        padding-bottom: 100px;
    }

    ul.navbar_gnb {
        margin-left: 0;
        text-align: left;
    }

    .navbar_gnb>li {
        display: block;
        position: relative;
        border-bottom: 1px solid #fffdfd;
    }

    .navbar_gnb>li>a {
        line-height: 60px;
        color: #fff;
    }

    .sub {
        position: relative;
        top: 0;
        background: #ffffff;
        padding-bottom: 15px;
    }

    .sub br {
        display: none;
    }

    .sub li {
        text-align: left;
        font-size: 15px;
        margin-left: 0;
        padding-top: 10px;
    }

    .sub a {
        display: block;
        text-align: left;
        color: #333;
        font-weight: bold
    }

    .icon {
        /* background: red; */
        position: absolute;
        top: 22px;
        right: 10px;
        width: 14px;
        height: 14px;
        transition: 2s;
    }

    .icon::before,
    .icon::after {
        /* display: block; */
        position: absolute;
        top: calc(50% - 2px);
        content: "";
        width: 14px;
        height: 4px;
        background: #fff;
    }

    .icon::after {
        transform: rotate(90deg);
    }

    .sub_shadow {
        display: none;
    }

    .navbar_gnb>li {
        width: 100%;
    }

    .navbar_gnb>li.on {}

    .navbar_gnb>li.on>a {
        color: #ffffff;
        text-decoration: none;
    }

    .navbar_gnb>li.on>a:hover {
        text-decoration: none;
    }

    .navbar_gnb>li.on .icon {
        transform: rotate(315deg);
    }

    .navbar_gnb>li.on .icon::before,
    .navbar_gnb>li.on .icon::after {
        background: #ffffff;
    }
}

/**************
    header 구간 종료
**************/


/**************
    로딩 페이지 구간 시작
**************/
.loading * {
    display: none;
}

.dots-loader:not(:required) {
    opacity: 1;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -4px;
    margin-top: -4px;
    text-indent: -9999px;
    display: inline-block;
    width: 8px;
    height: 8px;
    background: transparent;
    border-radius: 100%;
    box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    animation: dots-loader 5s infinite ease-in-out;
    transform-origin: 50% 50%;
    transform: scale(1);
    transition: .3s all;
    background: #fff;
}

@keyframes dots-loader {
    0% {
        box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }

    8.33% {
        box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }

    16.67% {
        box-shadow: #f86 14px 14px 0 7px, #fc6 14px 14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }

    25% {
        box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }

    33.33% {
        box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae -14px -14px 0 7px;
    }

    41.67% {
        box-shadow: #f86 14px -14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }

    50% {
        box-shadow: #f86 14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }

    58.33% {
        box-shadow: #f86 -14px 14px 0 7px, #fc6 -14px 14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }

    66.67% {
        box-shadow: #f86 -14px -14px 0 7px, #fc6 -14px -14px 0 7px, #6d7 -14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }

    75% {
        box-shadow: #f86 14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px -14px 0 7px, #4ae 14px -14px 0 7px;
    }

    83.33% {
        box-shadow: #f86 14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae 14px 14px 0 7px;
    }

    91.67% {
        box-shadow: #f86 -14px 14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }

    100% {
        box-shadow: #f86 -14px -14px 0 7px, #fc6 14px -14px 0 7px, #6d7 14px 14px 0 7px, #4ae -14px 14px 0 7px;
    }
}

.loaded .dots-loader {
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transform: scale(0);
    color: white;
}

/**************
    로딩 페이지 구간 종료
**************/


/**************
    footer
**************/
.footer_wrap {
    padding: 10px 0;
    background: #002256;
    color: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    bottom: 0;
}

footer {
    width: 1092px;
    margin: auto;
    position: relative;
}

footer::after {
    display: block;
    content: '';
    clear: both;
}

.logo {
    float: left;
}

.logo>img {
    width: 70px;
}

.info {
    float: left;
    font-size: 17px;
    color: #eaeaea;
    margin-left: 20px;
}

.info a {
    color: #a9a9a9;
}


.family_site_wrap {
    float: right;
}

.family_site_wrap select {
    font-size: 11px;
    width: 110px;
    padding-left: 10px;
    background: #fff url('../img/icon_snb_arr.png') no-repeat right center;
    appearance: none;
    line-height: 1.8;
}

.family_site_wrap option {}

.link_wrap {
    float: right;
    margin-right: 15px;
}

.link {
    background-color: #fff;
    border-radius: 30px;
    height: 50px;
    width: 200px;
    font-size: 11px;
    color: #b8b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instasns {
    background: linear-gradient(90deg, rgba(255, 80, 3, 1) 4%, rgba(121, 9, 9, 1) 49%, rgba(0, 130, 255, 1) 93%);
    color: transparent;
    -webkit-background-clip: text;
}

.link a {
    color: #b8b3b3;
    font-size: 25px;
}

@media (max-width:1169px) {

    body {
        background-image: url('../img/log-ship.gif');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    footer {
        width: 952px;
    }
}

@media (max-width:991px) {

    body {
        background-image: url('../img/log-ship.gif');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    .footer_wrap {
        padding: 10px 75px;
    }

    footer {
        width: 712px;
    }



}

@media (max-width:768px) {

    body {
        background-image: url('../img/log-ship.gif');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    footer {
        width: 100%;
    }

    .logo {
        float: none;
        /* margin-bottom: 5px; */
    }

    .info {
        float: none;
        margin-left: 0;
    }

    .link {
        float: none;
        margin-top: 5px;
        position: absolute;
        top: -8px;
        right: 0;
    }
}