.home_tube {
    /* width: 20%; */
    margin-top: 15px;
    margin-bottom: 15px;
    height: 450px;
    border: 3px dashed #00bfff;
    border-radius: 10px;
    background-color: #eeaaee;
    /* opacity: 0.2; */
    /* 진한 회색 텍스트 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_tube_inner {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.home_tube_head {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    /* opacity: 0.2; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home_tube_head_wrap {
    border: 3px dashed #00bfff;
    border-radius: 10px;
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home_tube_scroll {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 330px;
    border: 3px dashed #00bfff;
    border-radius: 10px;
    background-color: #F8ECC9;
    direction: rtl;
}

/* 스크롤바 스타일 */
.home_tube_scroll::-webkit-scrollbar {
    width: 12px;
    /* 스크롤바 너비 */
}

.home_tube_scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #eeaaee, #00bfff);
    /* 그라데이션 색상 */
    border-radius: 10px;
    /* 둥근 모서리 */
}

.home_tube_scroll::-webkit-scrollbar-track {
    background: #b5e0be;
    /* 스크롤바 트랙 배경 */
    border-radius: 10px;
}

.home_tube_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home_tube_body {
    width: 95%;
    height: 200px;
    /* border: 3px dashed #eeaaee; */
    border-radius: 10px;
    background-color: #fff;
    /* opacity: 0.2; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 25px;
}


.tubebox {
    direction: ltr;
}

.tubebox ul {
    list-style-type: none;
    padding: 0;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: flex-start;
}

.tubebox ul li {
    width: 23%;
    /* 기본 4개 항목 표시 (100% / 4 - 2% 마진 고려) */
    margin: 1%;
}

@media (max-width: 1200px) {
    .tubebox ul li {
        width: 30%;
        /* 3개 항목 표시 (100% / 3 - 3.33% 마진 고려) */
    }
}

@media (max-width: 785px) {
    .tubebox ul li {
        width: 45%;
        /* 2개 항목 표시 (100% / 2 - 5% 마진 고려) */
    }
}

.tubeImg {
    border-radius: 10px;
}

.tubetit {
    font-size: 12px;
}