#popRep {
    z-index: 2;
    display: none;
    /*숨기기*/
    position: fixed;
    width: 100%;
    height: 110%;
    background: rgba(214, 240, 255, 0.7);
}

#popRepMe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 280px;
    text-align: center;
    background: rgb(235 255 228);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#popRepMe p {
    margin-bottom: 50px;
    color: #006496 !important;
    font-size: 25px;
    font-weight: bold;
}

.popRepButt {
    width: 100%;
    height: 30%;
}

/* 니니몰 쇼핑 알림 팝업 시작 */
#popMall {
    z-index: 2;
    display: none;
    /*숨기기*/
    position: fixed;
    width: 100%;
    height: 30%;
    background: rgba(214, 240, 255, 0.7);
}

#popMallMe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    text-align: center;
    background: rgb(235 255 228);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#popMallMe p {
    margin-bottom: 50px;
    color: #006496 !important;
    font-size: 25px;
    font-weight: bold;
}

.popMallButt {
    width: 100%;
    height: 30%;
}

/* 니니몰 쇼핑 알림 팝업 종료 */

#popup {
    z-index: 2;
    display: none;
    /*숨기기*/
    position: fixed;
    width: 100%;
    height: 110%;
    background: rgba(165, 206, 230, 0.9);
}

#popmenu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    text-align: center;
    background: rgb(255, 247, 236);
    border-radius: 30px;
}

#popmenu p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.exit {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #007AAE;
    border-radius: 10px;
    color: #fff;
}

.demo01 th {
    width: 30%;
    text-align: left;
}

@media (max-width: 769px) {

    #popmenu {
        width: 500px;
        height: 550px;
    }

    .demo01 {
        margin: 0;
    }

    .demo01 th,
    .demo01 td {
        width: 96%;

        display: block;
        border-top: none;
    }

    .demo01 tr:first-child th {
        border-top: 1px solid #ddd;
    }
}

@media (max-width: 572px) {

    #popmenu {
        width: 300px;
        height: 500px;
    }

    #popmenu p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: bold;
    }

    .demo01 th,
    .demo01 td {
        width: 93%;

        display: block;
        border-top: none;
    }
}